#left {
	text-align: left;
	display: inline-block;
	margin-left: 50px;
}

#right {
	float: right;
	display: inline-block;
	margin-right: 50px;
}

#bigPic img {
	width: 100%;
}

#overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000 ;
	opacity: 0.5;
}
#bigPic {
	width: 100%;
	position: relative;
}

#secondContainer {
	border: 2px solid red;
	width: 100%;
	height: 500px;
}


/*
#cat, #world, #warmUp, #noLimits {
	border: solid 2px red;
	width: 50%;
	height: 50%;
	position: absolute;
}


#cat {
	left: 0px;
	background-color: yellow;
}
#world {
	left:50%;
	background-color: red;
}
#warmUp {
	left: 0%;
	background-color: green;
	top: 50%;
}

#noLimits {
	left: 50%;
	background-color: blue;
	top: 50%;
}
*/
