body {
  margin: 0px;
}

*{
  box-sizing: border-box;
}
#kity1 {
  background-image: url("kit1.jpg");
}

#kity2 {
  background-image: url("kit2.jpg");
}

#kity3 {
  background-image: url("kit3.jpg");
}

#carousel div {
  transition-duration: 3s;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
}
#carousel {
  position: relative;
  border: 2px solid red;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.onLeft {
  transform: translateX(-100%);
}

.onScreen {
  transform: translateX(0%);
}

.standBy {
  transform: translateX(100%);
}
